# Test coverage
coverage

# Dependency directories
node_modules

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Build / generate output
dist

# IDE specific directories
.idea
.vscode
